@{
    ViewData["Title"] = "Dashboard";
}

    <div class="col-sm">
            <div class="card cartao">
                <div class="card-body">
                    <h5 class="card-title">Saldo em Conta :</h5>
                    <p class="card-text">R$ 32.000,00</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-primary btn-rosa">Acessar Conta</a>
                    </div>
                </div>
            </div>
        </div>
    <h1 class="SuperTitle">Minha Conta</h1>
    <div class="row pt-3">
        <div class="col-sm-3">
            <div class="card cartao">
                <div class="card-body">
                    <h5 class="card-title">Saldo em Conta :</h5>
                    <p class="card-text">R$ 32.000,00</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-primary btn-rosa">Acessar Conta</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card cartao">
                <div class="card-body">
                    <h5 class="card-title">Saldo em Conta :</h5>
                    <p class="card-text">R$ 32.000,00</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-primary btn-rosa">Acessar Conta</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card cartao">
                <div class="card-body">
                    <h5 class="card-title">Saldo em Conta :</h5>
                    <p class="card-text">R$ 32.000,00</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-primary btn-rosa">Acessar Conta</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card cartao">
                <div class="card-body">
                    <h5 class="card-title">Saldo em Conta :</h5>
                    <p class="card-text">R$ 32.000,00</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-primary btn-rosa">Acessar Conta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row pt-2">
        <div class="col-sm-6">
            <div class="card cartao">
                <div class="card-body">
                    <h5 class="card-title">Saldo em Conta :</h5>
                    <p class="card-text">R$ 32.000,00</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-primary btn-rosa">Acessar Conta</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card cartao">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-primary btn-rosa">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

























<div class="container">
    <div class="container pt-5 pb-5 ">
        <div class="row">
            <div class="col table-card">
                <table class="table pt-5 pb-5 ">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Destinatário</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">17/02</th>
                        <td>R$ 25,00</td>
                        <td>Mc'Donalds Raposo Tavares</td>
                    
                    </tr>
                    <tr>
                        <th scope="row">14/07</th>
                        <td>R$ 22,33</td>
                        <td>Vendas S.A</td>
                    
                    </tr>
                    <tr>
                        <th scope="row">02/08</th>
                        <td>R$ 30,00</td>
                        <td>Daniel Borges</td>
                    </tr>
                </tbody>
            </table>
            </div>
            
        </div>
    </div>
    @*<div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card cartao-credito">
                    <img src="~/Images/cartaoV.png" class="card-img-top"
                         alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cartao-credito">
                    <img src="~/Images/cartaoV.png" class="card-img-top"
                         alt="Palm Springs Road" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cartao-credito">
                    <img src="~/Images/cartaoV.png" class="card-img-top"
                         alt="Los Angeles Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

