@{
    ViewData["Title"] = "Pagamentos";
}
<div class="row">
    <div class="col-xl-6">
        <h2 class="font-awesome-color pd-10 SuperTitle ">Pagamentos</h2>
        <div class="card cartao cartao-pg">
            <div class="card-body">
                <div class="card-text">
                    <div class="padding-pagamento">
                    <h5 class="font-awesome-color">Digite o código de barras :</h5>
                        <div class="input-group input-group-lg">
                          <span class="input-group-text bckg-none" id="basic-addon1">
                                <i class="fa-solid fa-magnifying-glass font-awesome-color"></i>
                          </span>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Username"
                                aria-label="Username"
                                aria-describedby="basic-addon1"
                              />
                        </div>
                    </div>
                    <div class="padding-pagamento">
                        <h5 class="font-awesome-color">Digite o código de barras :</h5>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bckg-none" id="basic-addon1">
                                <i class="fa-solid fa-magnifying-glass font-awesome-color"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Username"
                                   aria-label="Username"
                                   aria-describedby="basic-addon1" />
                        </div>
                    </div>
                    <div class="padding-pagamento">
                        <h5 class="font-awesome-color">Digite o código de barras :</h5>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bckg-none" id="basic-addon1">
                                <i class="fa-solid fa-magnifying-glass font-awesome-color"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Username"
                                   aria-label="Username"
                                   aria-describedby="basic-addon1" />
                        </div>
                    </div>
                    <div class="padding-pagamento">
                        <h5 class="font-awesome-color">Digite o código de barras :</h5>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bckg-none" id="basic-addon1">
                                <i class="fa-solid fa-magnifying-glass font-awesome-color"></i>
                            </span>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Username"
                                   aria-label="Username"
                                   aria-describedby="basic-addon1" />
                        </div>
                    </div>
                    <div class="padding-pagamento-btn">
                        <a href="#" class="btn btn-pagar btn-primary btn-rosa">Acessar Conta</a>
                        <a href="#" class="btn btn-primary btn-rosa btn-cancelar">Cancelar</a>

                    </div>

               </div>
            </div>
        </div>
    </div>




    <div class="col-xl-4 cartao-dados">
        <h2 class="font-awesome-color pd-10 SuperTitle">Meus Dados</h2>
        <div class="card cartao cartao-pg">
            <div class="card-body">
                <div class="card-text">
                    <div class="padding-pagamento">
                        <h5 class="font-awesome-color">Meu nome :</h5>
                        <h3 class="SuperTitle">Matheus Cardim Torres</h3>
                    </div>
                    <div class="padding-pagamento">
                        <h5 class="font-awesome-color">Minha conta :</h5>
                        <h3 class="SuperTitle">1237  1572  3455  9740</h3>

                    </div>
                    <div class="padding-pagamento">
                        <h5 class="font-awesome-color">Saldo :</h5>
                        <h3 class="SuperTitle">R$ 23.000,00</h3>
                    </div>
                    <div class="padding-pagamento">
                        <h5 class="font-awesome-color">Código de segurança :</h5>
                        <h3 class="SuperTitle">9026</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
